node_modules
backend/.env
backend/venv/
.claude
*.db
frontend/dist
frontend/playwright-report
frontend/test-results
__pycache__/
*.pyc
.DS_Store
*.pdf
*.docx
.vercel/
venv/
.venv/
backend/backend/venv/
.env
